<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<config key="Descriptor program_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_string"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="Descriptor program" type="xstring" value="C:\Users\hsiao\Desktop\mold2\Mold2\Windows\Mold2.exe"/>
<config key="SDF File_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_string"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="SDF File" type="xstring" value="C:\Users\hsiao\Documents\GitHub\CypRules\KNIME_CypRules\TestCompounds.sdf"/>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="EXECUTED"/>
<entry key="factory" type="xstring" value="indices_calculation.IndicesCalculationNodeFactory"/>
<entry key="node-name" type="xstring" value="EnalosMold2"/>
<entry key="node-bundle-name" type="xstring" value="Enalos Nodes for KNIME"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="com.novamechanics.enalosmold2"/>
<entry key="node-bundle-vendor" type="xstring" value="NovaMechanics Ltd (www.novamechanics.com)"/>
<entry key="node-bundle-version" type="xstring" value="1.0.0"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="EnalosMold2"/>
<entry key="hasContent" type="xboolean" value="true"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
<entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
<entry key="port_object_summary" type="xstring" value="Rows: 232, Cols: 779"/>
<entry key="port_dir_location" type="xstring" value="port_1"/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" value="10e7a133-0e41-4540-b457-d36ddb268538"/>
</config>
</config>
