<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<entry key="Compute2D" type="xboolean" value="true"/>
<entry key="Compute3D" type="xboolean" value="true"/>
<entry key="ComputeFingerprints" type="xboolean" value="true"/>
<entry key="RemoveSalt" type="xboolean" value="true"/>
<entry key="DetectAromaticity" type="xboolean" value="true"/>
<entry key="StandardizeTautomers" type="xboolean" value="false"/>
<entry key="TautomerFile" type="xstring" value=""/>
<entry key="StandardizeNitro" type="xboolean" value="true"/>
<entry key="Retain3D" type="xboolean" value="true"/>
<entry key="Convert3D" type="xstring" value="No"/>
<entry key="Log" type="xboolean" value="false"/>
<entry key="MaxThreads" type="xint" value="-1"/>
<entry key="MaxJobsWaiting" type="xint" value="-1"/>
<entry key="MaxRunTime" type="xlong" value="-1"/>
<entry key="DES_AcidicGroupCount" type="xboolean" value="true"/>
<entry key="DES_ALOGP" type="xboolean" value="true"/>
<entry key="DES_AminoAcidCount" type="xboolean" value="false"/>
<entry key="DES_APol" type="xboolean" value="true"/>
<entry key="DES_AromaticAtomsCount" type="xboolean" value="true"/>
<entry key="DES_AromaticBondsCount" type="xboolean" value="true"/>
<entry key="DES_AtomCount" type="xboolean" value="true"/>
<entry key="DES_Autocorrelation" type="xboolean" value="true"/>
<entry key="DES_BaryszMatrix" type="xboolean" value="true"/>
<entry key="DES_BasicGroupCount" type="xboolean" value="true"/>
<entry key="DES_BCUT" type="xboolean" value="true"/>
<entry key="DES_BondCount" type="xboolean" value="true"/>
<entry key="DES_BPol" type="xboolean" value="true"/>
<entry key="DES_BurdenModifiedEigenvalues" type="xboolean" value="true"/>
<entry key="DES_CarbonTypes" type="xboolean" value="true"/>
<entry key="DES_ChiChain" type="xboolean" value="true"/>
<entry key="DES_ChiCluster" type="xboolean" value="true"/>
<entry key="DES_ChiPathCluster" type="xboolean" value="true"/>
<entry key="DES_ChiPath" type="xboolean" value="true"/>
<entry key="DES_Constitutional" type="xboolean" value="true"/>
<entry key="DES_Crippen" type="xboolean" value="true"/>
<entry key="DES_DetourMatrix" type="xboolean" value="true"/>
<entry key="DES_EccentricConnectivityIndex" type="xboolean" value="true"/>
<entry key="DES_EStateAtomType" type="xboolean" value="true"/>
<entry key="DES_ExtendedTopochemicalAtom" type="xboolean" value="true"/>
<entry key="DES_FMF" type="xboolean" value="true"/>
<entry key="DES_FragmentComplexity" type="xboolean" value="true"/>
<entry key="DES_HBondAcceptorCount" type="xboolean" value="true"/>
<entry key="DES_HBondDonorCount" type="xboolean" value="true"/>
<entry key="DES_HybridizationRatio" type="xboolean" value="true"/>
<entry key="DES_InformationContent" type="xboolean" value="true"/>
<entry key="DES_IPMolecularLearning" type="xboolean" value="false"/>
<entry key="DES_KappaShapeIndices" type="xboolean" value="true"/>
<entry key="DES_KierHallSmarts" type="xboolean" value="false"/>
<entry key="DES_LargestChain" type="xboolean" value="true"/>
<entry key="DES_LargestPiSystem" type="xboolean" value="true"/>
<entry key="DES_LongestAliphaticChain" type="xboolean" value="true"/>
<entry key="DES_MannholdLogP" type="xboolean" value="true"/>
<entry key="DES_McGowanVolume" type="xboolean" value="true"/>
<entry key="DES_MDE" type="xboolean" value="true"/>
<entry key="DES_MLFER" type="xboolean" value="true"/>
<entry key="DES_PathCount" type="xboolean" value="true"/>
<entry key="DES_PetitjeanNumber" type="xboolean" value="true"/>
<entry key="DES_RingCount" type="xboolean" value="true"/>
<entry key="DES_RotatableBondsCount" type="xboolean" value="true"/>
<entry key="DES_RuleOfFive" type="xboolean" value="true"/>
<entry key="DES_Topological" type="xboolean" value="true"/>
<entry key="DES_TopologicalCharge" type="xboolean" value="true"/>
<entry key="DES_TopologicalDistanceMatrix" type="xboolean" value="true"/>
<entry key="DES_TPSA" type="xboolean" value="true"/>
<entry key="DES_VABC" type="xboolean" value="true"/>
<entry key="DES_VAdjMa" type="xboolean" value="true"/>
<entry key="DES_WalkCount" type="xboolean" value="true"/>
<entry key="DES_Weight" type="xboolean" value="true"/>
<entry key="DES_WeightedPath" type="xboolean" value="true"/>
<entry key="DES_WienerNumbers" type="xboolean" value="true"/>
<entry key="DES_XLogP" type="xboolean" value="true"/>
<entry key="DES_ZagrebIndex" type="xboolean" value="true"/>
<entry key="DES_Autocorrelation3D" type="xboolean" value="false"/>
<entry key="DES_CPSA" type="xboolean" value="true"/>
<entry key="DES_GravitationalIndex" type="xboolean" value="true"/>
<entry key="DES_LengthOverBreadth" type="xboolean" value="true"/>
<entry key="DES_MomentOfInertia" type="xboolean" value="true"/>
<entry key="DES_PetitjeanShapeIndex" type="xboolean" value="true"/>
<entry key="DES_RDF" type="xboolean" value="false"/>
<entry key="DES_WHIM" type="xboolean" value="true"/>
<entry key="DES_Fingerprinter" type="xboolean" value="false"/>
<entry key="DES_ExtendedFingerprinter" type="xboolean" value="false"/>
<entry key="DES_EStateFingerprinter" type="xboolean" value="false"/>
<entry key="DES_GraphOnlyFingerprinter" type="xboolean" value="false"/>
<entry key="DES_MACCSFingerprinter" type="xboolean" value="false"/>
<entry key="DES_PubchemFingerprinter" type="xboolean" value="true"/>
<entry key="DES_SubstructureFingerprinter" type="xboolean" value="false"/>
<entry key="DES_SubstructureFingerprintCount" type="xboolean" value="false"/>
<entry key="DES_KlekotaRothFingerprinter" type="xboolean" value="false"/>
<entry key="DES_KlekotaRothFingerprintCount" type="xboolean" value="false"/>
<entry key="DES_AtomPairs2DFingerprinter" type="xboolean" value="false"/>
<entry key="DES_AtomPairs2DFingerprintCount" type="xboolean" value="false"/>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="EXECUTED"/>
<entry key="factory" type="xstring" value="padeldescriptor.knime.CompoundDescriptorsNodeFactory"/>
<entry key="node-name" type="xstring" value="PaDEL-Descriptor"/>
<entry key="node-bundle-name" type="xstring" value="PaDEL-Descriptor node extension for KNIME Workbench"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="padeldescriptor.knime"/>
<entry key="node-bundle-vendor" type="xstring" value="Pharmaceutical Data Exploration Laboratory"/>
<entry key="node-bundle-version" type="xstring" value="2.21.0"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="PaDEL-Descriptor"/>
<entry key="hasContent" type="xboolean" value="true"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
<entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
<entry key="port_object_summary" type="xstring" value="Rows: 232, Cols: 2467"/>
<entry key="port_dir_location" type="xstring" value="port_1"/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" value="20149006-fc44-4f43-b2a4-8b35b0b4d3af"/>
</config>
</config>
